<mat-accordion class="accordion">


    <mat-expansion-panel [expanded]="true" class="expansion">

        <mat-expansion-panel-header>
            <mat-panel-title>
                Busqueda y filtros
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="sub-accordions">


            <mat-form-field appearance="standard" class="field">
                <mat-label class="search">Buscar:</mat-label>
                <input matInput [(ngModel)]="filters.term" (input)="sendSearch()" class="search">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>


            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Por categoria
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field class="field">
                        <mat-label>Categoria</mat-label>
                        <mat-select [(value)]="filters.category" (valueChange)="sendCategory()">
                            <mat-option value=0>None</mat-option>
                            <mat-option *ngFor="let category of categories" [value]="category.id">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-expansion-panel>


</mat-accordion>