<div mat-dialog-content>


    <form [formGroup]="formulario">

        <div class="field">
            <mat-form-field class="field">
                <textarea matInput placeholder="Tu reseña ..." formControlName="review" [errorStateMatcher]="matcher"></textarea>
                <mat-error *ngIf="review.getError('required')">
                    La reseña es obligatoria.
                </mat-error>
            </mat-form-field>
        </div>

    </form>


</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary">Reseñar</button>
    <button mat-raised-button>Cancelar</button>
</div>