<h1 mat-dialog-title>Iniciar sesión</h1>

<form action="" [formGroup]="formulario" [ngSwitch]="data.type">
    <div class="container" *ngSwitchCase=1>
        <div mat-dialog-content>
            <mat-form-field class="form-field" *ngFor="let field of formFieldsLogIn">
                <input matInput [placeholder]="field.name" [formControlName]="field.name" [errorStateMatcher]="matcher" cdkFocusInitial>
                <mat-error *ngIf="formulario.get(field.name).hasError('required')">
                    {{field.errors.required}}
                </mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button [disabled]="!formulario.valid" class="buttons" mat-raised-button color="primary" (click)="iniciarSesion()">Iniciar Sesión</button>
            <button class="buttons" mat-raised-button [mat-dialog-close]>Cancelar</button>
        </div>
    </div>
    <div class="container" *ngSwitchCase=2>
        <div mat-dialog-content>
            <mat-form-field class="form-field" *ngFor="let field of formFieldsRegistrer">
                <input matInput [placeholder]="field.name" [formControl]="field.formControl" [errorStateMatcher]="matcher" cdkFocusInitial>
                <mat-error *ngIf="field.errors.required && field.formControl.hasError('required')">
                    {{field.errors.required}}
                </mat-error>
                <mat-error *ngIf="field.errors.email && field.formControl.hasError('email')">
                    {{field.errors.email}}
                </mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button class="buttons" mat-raised-button color="primary" (click)="registrarse()">Registrarse</button>
            <button class="buttons" mat-raised-button [mat-dialog-close]>Cancelar</button>
        </div>
    </div>
</form>
<div *ngIf="noMatch">
    El Email o la contraseña no son correctos!
</div>