.container {
    padding: .5rem;
    display: grid;
    grid-gap: .5rem;
}

.tab {
    width: 100%;
}

@media screen and (min-width:720px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .user-card {
        grid-area: 1 / 1 / 2 / 3;
    }
}