<mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab label="Perfil">
        <article class="container">
            <app-user-card [user]="user" class="user-card"></app-user-card>
            <app-reviews type="usuarios" [reviews]="reviewsUser"></app-reviews>
            <app-reviews type="productos" [reviews]="reviewsProduct"></app-reviews>
        </article>
    </mat-tab>
    <mat-tab label="Productos" class="tab">
        <app-list-products></app-list-products>
    </mat-tab>
</mat-tab-group>