<div class="container-grid">
    <mat-card *ngFor="let product of products; let i = index" class="card" color="primary">
        <mat-card-title class="title">{{product.name}}</mat-card-title>
        <img mat-card-image [src]="product.image" [alt]="product.name">
        <mat-card-content>{{product.price | currency}}</mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="primary" (click)="addFavorite(i)" *ngIf="sessionService.session"><mat-icon>{{product.favorite}}</mat-icon></button>
            <button mat-icon-button color="primary" (click)="addOrRemoveCart(i)" *ngIf="sessionService.session"><mat-icon>{{product.cart}}</mat-icon></button>
            <button mat-button>Ver mas...</button>
        </mat-card-actions>
    </mat-card>
</div>