<div mat-dialog-content>
    <form [formGroup]="formulario">


        <div class="field">
            <mat-form-field class="field">
                <input matInput placeholder="Nombre del producto:" formControlName="name" [errorStateMatcher]="matcher" cdkFocusInitial>
                <mat-error *ngIf="name.getError('required')">
                    Debe ingresar un nombre para el producto.
                </mat-error>
            </mat-form-field>
        </div>


        <div class="field">
            <mat-form-field class="field">
                <textarea matInput placeholder="Descripción:" formControlName="description" [errorStateMatcher]="matcher"></textarea>
            </mat-form-field>
        </div>


        <div class="field">
            <mat-form-field class="field">
                <input matInput type="number" placeholder="Precio:" formControlName="price" [errorStateMatcher]="matcher">
                <mat-error *ngIf="price.getError('required')">
                    Debe ingresar un precio para su producto.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="field">

            <mat-form-field>
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories ;let i = index" [value]="++i">{{category}}</mat-option>
                </mat-select>
                <mat-error *ngIf="category.getError('required')">
                    Debe seleccionar una categoría
                </mat-error>
            </mat-form-field>

        </div>

        <div class="preview">
            <app-canvas *ngIf="file" [file]="file"></app-canvas>
            <label *ngIf="file" class="change-image-label">
                <p class="change-image-text">Cambiar imagen</p>
                <input #changeFile type="file" class="change-image-input" (change)="cargarArchivo(changeFile)">
            </label>
            <label class="field label" *ngIf="!file">
                <p class="text-label">Click para subir un imagen!</p>
                <input class=file #inputFile (change)="cargarArchivo(inputFile)" type="file" formControlName="image">
            </label>
            <div *ngIf="image.getError('required')">
                Debe ingresar una imagen!
            </div>
        </div>


    </form>
</div>
<div mat-dialog-actions>
    <button [disabled]="!formulario.valid" class="buttons" mat-raised-button color="primary" (click)="publicar()">Publicar</button>
</div>