<div mat-dialog-content>

    <form action="" [formGroup]="form">

        <div class="field">
            <mat-form-field class="field">
                <input matInput placeholder="Nombre de usuario" formControlName="username" [errorStateMatcher]="matcher" cdkFocusInitial>
                <mat-error *ngIf="username.getError('required')">
                    El nombre de usuario es obligatorio.
                </mat-error>
            </mat-form-field>
        </div>


        <div class="field">
            <mat-form-field class="field">
                <input matInput placeholder="Descripción" formControlName="description" [errorStateMatcher]="matcher">
                <mat-error *ngIf="description.getError('maxlength')">
                    No debes pasar los 300 carácteres.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="field">
            <mat-form-field class="field">
                <input matInput placeholder="Telefono" formControlName="telephone" [errorStateMatcher]="matcher">
            </mat-form-field>
        </div>

    </form>

</div>
<div mat-dialog-actions>
    <button [disabled]="!formulario.valid" class="buttons" mat-raised-button color="primary">Iniciar Sesión</button>
    <button class="buttons" mat-raised-button [mat-dialog-close]>Cancelar</button>
</div>