.container {
    padding: 0 8px;
    margin: 1.5rem 0;
}

.container-grid {
    margin: auto;
}

.title {
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

@media screen and (min-width:480px) {
    .container-grid {
        margin: auto;
    }
    .container {
        padding: 0 16px;
    }
}

@media screen and (min-width:720px) {
    .container-grid {
        display: grid;
        grid-gap: .7rem;
        grid-template-columns: repeat(2, 1fr);
    }
}


/* @media screen and (min-width:1024px) {
    .container-grid {
        grid-template-columns: repeat(3, 1fr);
    }
} */