<mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row class="row">
        <h1 class="logo">JNeger</h1>
    </mat-toolbar-row>
    <mat-toolbar-row class="row">
        <nav class="main-navbar-container">
            <ul class="menu-navbar" id="menuNavbar">
                <li class="list-item" *ngIf="sessionService.session">
                    <button mat-icon-button>
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                </li>
                <li class="list-item" *ngIf="sessionService.session">
                    <button mat-icon-button>
                        <mat-icon>notifications</mat-icon>
                    </button>
                </li>
                <li class="list-item">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialog(1)" *ngIf="!sessionService.session">
                            Iniciar sesión
                        </button>
                        <button mat-menu-item (click)="openDialog(2)" *ngIf="!sessionService.session">
                            Registrarse
                        </button>
                        <button mat-menu-item *ngIf="sessionService.session">
                            Agregar un producto
                        </button>
                        <button mat-menu-item *ngIf="sessionService.session">
                            Agregar mas saldo
                        </button>
                        <button mat-menu-item *ngIf="sessionService.session" (click)="openAlert(1)">
                            Cerrar sesión
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>