.container {
    width: fit-content;
    margin: auto;
}

.inline {
    margin: .5rem 0;
}

@media screen and (min-width:720px) {
    .star {
        font-size: 2rem;
        margin-right: .7rem;
    }
}