.container {
    width: fit-content;
    margin: auto;
}

.inline {
    margin: .5rem 0;
}

.star {
    font-size: 2.4rem;
    margin-right: .7rem;
}

.small {
    font-size: 1.5rem;
    margin-right: .3rem;
}

@media screen and (min-width:720px) {}