<div mat-dialog-content>

    <form [formGroup]="formulario">

        <div class="field">
            <mat-form-field class="field">
                <input matInput placeholder="Saldo" type="number" formControlName="balance" [errorStateMatcher]="matcher" cdkFocusInitial>
                <mat-error *ngIf="balance.getError('required')">
                    Debe ingresar el saldo a agregar.
                </mat-error>
            </mat-form-field>
        </div>

    </form>

</div>
<div mat-dialog-actions>
    <button [disabled]="!formulario.valid" class="buttons" mat-raised-button color="primary" (click)="addBalance()">Agregar</button>
    <button class="buttons" mat-raised-button [mat-dialog-close]>Cancelar</button>
</div>