<div mat-dialog-content>

    <form action="" [formGroup]="form">

        <mat-form-field class="field">
            <input matInput placeholder="Nombre de usuario" formControlName="username" [errorStateMatcher]="matcher" cdkFocusInitial>
            <mat-error *ngIf="username.getError('required')">
                El nombre de usuario es obligatorio.
            </mat-error>
            <mat-error *ngIf="username.getError('minlength')">
                Debe tener al menos 6 caracteres.
            </mat-error>
        </mat-form-field>


        <mat-form-field class="field">
            <textarea matInput placeholder="Descripción" formControlName="description" [errorStateMatcher]="matcher"></textarea>
            <mat-error *ngIf="description.getError('maxlength')">
                No debe tener mas de 300 carácteres.
            </mat-error>
        </mat-form-field>

    </form>

</div>
<div mat-dialog-actions>
    <button [disabled]="!form.valid || send" class="buttons" mat-raised-button color="primary" (click)="edit()">Editar</button>
    <button class="buttons" mat-raised-button [disabled]="send" [mat-dialog-close]>Cancelar</button>
    <mat-spinner [diameter]="" *ngIf="send"></mat-spinner>
</div>