<div class="field">

    <mat-form-field class="field">

        <input matInput placeholder="Password actual" [formControl]="passwordActual" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        <mat-error *ngIf="passwordActual.getError('required')">
            Debe ingresar se password actual.
        </mat-error>

    </mat-form-field>


    <mat-form-field class="field">
        <input matInput placeholder="Password nuevo" [formControl]="passwordNew" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
        <mat-error *ngIf="passwordNew.getError('required')">
            Debe ingresar un nuevo password.
        </mat-error>
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button [disabled]="!formulario.valid" class="buttons" mat-raised-button color="primary">Cambiar</button>
    <button class="buttons" mat-raised-button [mat-dialog-close]>Cancelar</button>
</div>